<h5>Contact Details</h5>
<div class="container">
  <div class=" pt-2 pb-2 row ">
    <div class="col-sm-9">
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">I want a</div>
        <input class=" form-control form-control-success has-success" list="suggestions_job" style="width:200px" [(ngModel)]="j">
        <datalist id="suggestions_job">
          <option *ngFor="let j of job" [value]="j.job"></option>
        </datalist>
      </div>
    </div>
  </div>
</div>
