div.parallax {
  /* The image used */
  background-image: url("../../assets/food.jpg");
  image-rendering: auto;
  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

div.pt-5{
padding-top: 5pc;
}
