<div class="row">
  <div class="col">
    <div class="w3-card-4 w3-dark-grey pb-5" style="border: solid;">
      <div class="w3-container w3-center">
        <h3>Delivery Person</h3>
        <img src="../../assets/avatars/avatar4.jpg" alt="Avatar">
        <h5>Sandun Kosala</h5>
        <h5>Bandarawela</h5>
        <button class="w3-button w3-green">Book him/her</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w3-card-4 w3-dark-grey pb-5" style="border: solid;">
      <div class="w3-container w3-center">
        <h3>Friend request</h3>
        <img src="../../assets/avatars/avatar2.jpg" alt="Avatar">
        <h5>Chamara Thilanka</h5>
        <h5>Peradeniya</h5>
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="w3-card-4 w3-dark-grey pb-5" style="border: solid;">
      <div class="w3-container w3-center">
        <h3>Friend request</h3>
        <img src="../../assets/avatars/avatar3.jpg" alt="Avatar">
        <h5>Kosala Sanjeewa</h5>
        <h5>Kandy</h5>
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w3-card-4 w3-dark-grey pb-5" style="border: solid;">
      <div class="w3-container w3-center">
        <h3>Friend request</h3>
        <img src="../../assets/avatars/avatar5.jpg" alt="Avatar">
        <h5>Gayesha Nevindi</h5>
        <h5> Gampaha</h5>
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="w3-card-4 w3-dark-grey pb-5" style="border: solid;">
      <div class="w3-container w3-center">
        <h3>Friend request</h3>
        <img src="../../assets/avatars/avatar6.jpg" alt="Avatar">
        <h5>Sithara Asheni</h5>
        <h5>Colombo</h5>
        <button class="w3-button w3-green">Accept</button>
        <button class="w3-button w3-red">Decline</button>
      </div>
    </div>
  </div>

</div>
